.colorpicker {
  width: 100%;
  margin: 0;
  padding: 0;
}

.colorpicker ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.colorpicker ul li {
  width: 100%;
}

.colorpicker ul li input[type="radio"] {
  display: none;
}

.colorpicker ul li input[type="radio"]:checked + label::before {
  content: '';
  width: 40%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  position: absolute;
  top: 0%;
  right: 0%;
}

.colorpicker ul li input[type="radio"]:checked + label::after {
  content: '';
  width: calc(40% * 1.41421);
  height: calc(40% * 1.41421);
  background-color: #fff;
  display: block;
  position: absolute;
  bottom: calc(100% - (40% * 1.41421 / 2));
  left: calc(100% - (40% * 1.41421 / 2));
  transform: rotate(45deg);
}

.colorpicker ul li label {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.colorpicker ul li label:hover::before {
  content: '';
  width: 20%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  position: absolute;
  top: 0%;
  right: 0%;
}

.colorpicker ul li label:hover::after {
  content: '';
  width: calc(20% * 1.41421);
  height: calc(20% * 1.41421);
  background-color: #fff;
  display: block;
  position: absolute;
  bottom: calc(100% - (20% * 1.41421 / 2));
  left: calc(100% - (20% * 1.41421 / 2));
  transform: rotate(45deg);
}
